.ant-calendar-picker-input{
    background: rgba(2,6,18,0.10);
    border: 1px solid #23FAFF;
    color: #23faff;
    text-align: center;
    font-size: 1.4rem;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
}
.ant-calendar-picker-small{
    width: 40%;
}
.ant-calendar-picker-clear{
    display: none;
}
.ant-calendar-picker-small .ant-calendar-picker-icon{
    left:8px;
    color: #23faff;
}
.ant-calendar-picker:hover .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #23faff;
}
.ant-calendar-picker:focus .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #23faff;
}
.ant-calendar-picker-icon:after{
    color: #23faff;
}