.ant-modal-content{
    background-image: url("../../pages/process/styles/images/gridding_bg.png")  !important;
    background-color: rgba(35,250,255,0.10) !important;
    border: 1px solid #23FAFF !important;
    border-radius: 0 !important;
    height: 100%;
}
.ant-modal-header{
    background: none !important;
    border-bottom:none !important;
    padding: 24px 24px !important;
    height: 20% !important;
}
.ant-modal-title{
    color: white !important;
    font-size: 1.6rem;
}
.ant-modal-close{
    right: -54px !important;
    color: #23faff !important;
}
.ant-modal-close-x:before{
    content: url("images/close.png");
}
.ant-modal-close-x:hover{
    color: #23faff !important;
}

.anticon-exclamation-circle:before{
    content:''!important;
}





::-webkit-scrollbar
{
    width: 4px;   /*滚动条宽度*/
    height: 4px;   /*滚动条高度*/
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;  !*滚动条的背景区域的圆角*!*/
    background-color: #e5e5e5; /*!*滚动条的背景颜色*!*/
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 5px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #23faff;  /*滚动条的背景颜色*/
}
html {
    /* scrollbar-face-color:#bfbfbf; *//*滚动条颜色*/
    /* scrollbar-highlight-color:#000;
    /* scrollbar-3dlight-color:#000;
    /* scrollbar-darkshadow-color:#000;
    /* scrollbar-Shadow-color:#adadad;/*滑块边色*/
    /* scrollbar-arrow-color:rgba(0,0,0,0.4);/*箭头颜色*/
    /* scrollbar-track-color:#eeeeee;/*背景颜色*/
}