.ant-spin-container,
.ant-spin-nested-loading,.ant-table,.ant-table-content,
.ant-table-scroll,.ant-table-body{
    height: 100%;
    background: none !important;
}
.ant-table-content{
    color: white !important;
}
.ant-modal-body{
    padding: 0 !important;
}
.ant-table-wrapper{
    height: 100%;
}
.ant-table.ant-table-scroll-position-left{
    box-shadow: #00FFE4;
}
.ant-table-scroll{
    overflow: hidden !important;
}
.ant-table-header{
    overflow: hidden !important;
    margin-bottom: 0 !important;
}
.ant-table-thead > tr > th {
    color: white !important;
    border-bottom:none !important;
    padding: 8px !important;
    background: none !important;
}
.ant-table-thead > tr:first-child > th:first-child {
    border-top-left-radius: 0 !important;
}
.ant-table-thead > tr:first-child > th:last-child {
    border-top-right-radius: 0 !important;
}
.ant-table-tbody > tr > td{
    border-bottom:none !important;
}
.ant-table-tbody > tr:hover > td{
    background: none !important;
}
.ant-table-body-trEven{
    background:rgba(37,209,213,0.07);
}
.ant-table-body-trOdd{
    background: rgba(0,72,74,0.15)
}